@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ABAAAA;
  --foreground: #171717;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.theme-a {
  background-color: #677598;
  color: white;
}

body {
  color: var(--foreground);
  background: var(--background);
}
